# Blacklist files/folders
*

# Whitelist some files
!.gitignore
!README.md
!*.txt
!*.c
!*.h
!*.cpp
!*.ino
!*.pde
!*.cproject
!*.mxproject
!*.project
!*.ioc
!*.ld
!*.s
.settings

!CAN_RTOS
!libraries
!libraries/*
!libraries/*/*
!libraries/*/*/*
!libraries/*/*/*/*
!FreeRTOS_CubeMX
!FreeRTOS_CubeMX/*
!FreeRTOS_CubeMX/*/*
!FreeRTOS_CubeMX/*/*/*
!FreeRTOS_CubeMX/*/*/*/*
!FreeRTOS_CubeMX/*/*/*/*/*
!FreeRTOS_CubeMX/*/*/*/*/*/*
!FreeRTOS_CubeMX/*/*/*/*/*/*/*
!FreeRTOS_CubeMX/*/*/*/*/*/*/*/*